{% extends 'base.jinja' %}
{% block content %}

<h1> {{vet.name}} </h1>

<button class="button">
    <a class="button" href="/vets/{{vet.id}}/edit">Update</a>
</button>

<form action="/vets/{{vet.id}}" method="POST">
    <label for="delete"></label>
    <input class="button" type="submit" id="delete" value=" Delete"/>
</form>

<h2>Case load:</h2>

<ul>
    {% for animal in cases  %}
        <li><a href="/animals/{{animal.id}}">{{animal.name}}, {{animal.species}}</li>
    {% endfor %}
</ul>

{% endblock content %}