{% extends 'base.jinja' %}
{% block content %}

<h1>{{vet.name}} cannot be deleted before reassigning caseload.</h1>

<h2>{{vet.name}}'s caseload:</h2>

<ul>
    {% for animal in cases  %}
        <li>
            <h3> {{animal.name}} </h3>
                <section id="reassign"
                    <div id="left">Species:</div>
                    <div id= "right">{{animal.species}}</div>
                    <div id="left">Date of Birth:</div> 
                    <div id="right">{{animal.dob}}</div>
                    <div id="left">Owner phone no.: </div>
                    <div id="right">{{animal.phone}}</div>
                    <div id="left">
                        <form action="/vets/{{vet.id}}/reassign/{{animal.id}}" method="POST">
                            <label for="vet">Vet:</label>
                    </div>
                    <div id="right">
                            <select name="vet.id">
                                {% for vet in vets %}
                                    <option value="{{vet.id}}" selected class="text">{{vet.name}}</option>
                                {% endfor %}
                            </select>
                            <input class="button" type="submit" value="Update"/>
                        </form>
                    </div>
                    <div id="left">Notes:</div>
                    <div id="right">{{animal.notes}}</div>
        </li>
    {% endfor %}
</ul>


{# <ul>
    {% for animal in cases  %}
        <li><a href="/animals/{{animal.id}}/edit">{{animal.name}}, {{animal.species}}</li>
    {% endfor %}
</ul> #}

{% endblock content %}