{% extends 'base.jinja' %}
{% block content %}

<h1>Animals</h1>
<ul>
    {% for animal in animals %}
    <li><a href="/animals/{{animal.id}}">{{animal.name}}</a>, {{animal.species}}</li>
    {% endfor %}
</ul>

{# <section id="newanimal"> #}
<p>Add new animal:</p>
<button>
    <a class="button" href="/animals/new">Registered owner</a>
</button>
<button>
    <a class="button" href="/animals/new/unregistered">Unregistered owner</a>
</button>
{# </section> #}

{% endblock content %}