{% extends 'base.jinja' %}
{% block content %}

<h1>Add animal</h1>
    <form id="grid-container" action="/animals/new" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" required />
        <label for="species">Species:</label>
        <input type="text" name="species" id="species" required />
        <label for="dob">Date of Birth:</label>
        <input type="date" name="dob" id="dob" required/>
        <label for="owner">Owner:</label>
        <select name="owner.id">
            {% for owner in owners %}
                <option value="{{owner.id}}" class="text">{{owner.name}}</option>
            {% endfor %}
        </select>
        <label for="vet">Vet:</label>
        <select name="vet.id">
            {% for vet in vets %}
                <option value="{{vet.id}}" class="text">{{vet.name}}</option>
            {% endfor %}
        </select>
        <label for="notes">Notes:</label>
        <textarea name="notes" id="notes" rows="4" cols="80" required></textarea>
        <input class="button" type="submit" value="Add"/>
    </form>

{% endblock content %}