{% extends 'base.jinja' %}
{% block content %}
{# this form is probbaly redundent, I think it would be better to refactor our other jinja template that's for adding a new animal and allowing there to be some sort of check that will that makes the user add a new owner first along with us to add a owner that's 'unregistered' with the changes I suggested to our tables

Unless there was a spesfic reason why we need to be able to add animals without associating them with contact details of a owner.#}
<h1>Add animal</h1>
    <form id="grid-container" action="/animals/new/unregistered" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" required/>
        <label for="species">Species:</label>
        <input type="text" name="species" id="species" required/>
        <label for="dob">Date of Birth:</label>
        <input type="date" name="dob" id="dob" required/>
        <label for="phone">Owner's phone no.:</label>
        <input type="text" name="phone" id="phone" required/>
        <label for="vet">Vet:</label>
        <select name="vet.id">
            {% for vet in vets %}
                <option value="{{vet.id}}" class="text">{{vet.name}}</option>
            {% endfor %}
        </select>
        <label for="notes">Notes:</label>
        <textarea name="notes" id="notes" rows="4" cols="80" required ></textarea>
        <input class="button" type="submit" value="Add"/>
    </form>

{% endblock content %}