{% extends 'base.jinja' %}
{% block content %}

<h1>Add animal</h1>
    <form id="grid-container" action="/animals/new/unregistered" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name"/>
        <label for="species">Species:</label>
        <input type="text" name="species" id="species"/>
        <label for="dob">Date of Birth:</label>
        <input type="text" name="dob" id="dob"/>
        <label for="phone">Owner's phone no.:</label>
        <input type="text" name="phone" id="phone"/>
        <label for="notes">Notes:</label>
        <textarea name="notes" id="notes" rows="4" cols="80"></textarea>
        <label for="vet">Vet:</label>
        <select name="vet.id">
            {% for vet in vets %}
                <option value="{{vet.id}}" class="text">{{vet.name}}</option>
            {% endfor %}
        </select>
        <input class="button" type="submit" value="Add"/>
    </form>

{% endblock content %}