* {
    background-color: rgb(154, 187, 171);
}

h1 {
    color:rgb(42, 41, 44)
}

h2 {
    color:rgb(42, 41, 44)
}

a {
    color: rgb(35, 59, 48);
    font-weight: bolder;
    text-decoration: none;
}

header>nav {
    background-color:rgb(42, 41, 44);
    padding: 2rem;
    display: flex;
    justify-content: space-between;
}

header>nav>div>button {
    border-color:rgb(134, 185, 160);
    border-width: 0.3rem;
    padding: 1rem;
    font-size:x-large;
}

header>nav>section {
    background-color:rgb(42, 41, 44);
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
}

header>nav>section>button {
    background-color:rgb(42, 41, 44);
    outline: none;
    border: none
}

button>a {
    text-decoration: none;
}


.button {
    background-color: rgb(42, 41, 44);
    color: rgb(192, 238, 216);
}

button {
    background-color: rgb(42, 41, 44);
    color: rgb(192, 238, 216);
}

section {
    margin-left: 50px;
    margin-right: 50px
}

section>ul {
    list-style: none;
}

#appointment {
    display: flex;
}

.spacedlist li {
    margin-bottom: 10px;
}

#grid-container {
    display: grid;
    grid-template-areas:
      'label input'
      'label input'
      'label input'
      'label input'
      'label input'
      'label input';
    justify-content: center;
  }

#reassign {
    display: grid;
    grid-template-areas:
      'left right'
      'left right'
      'left right'
      'left right'
      'left right'
      'left right';
    justify-content: left;
    margin-left: 0px;
}

p {
    font-weight: bold;
}

/* #newanimal {
    display: flex;
    background-color: rgb(42, 41, 44);
}

#newanimal>p {
    background-color: rgb(42, 41, 44);
} */