<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}"/>
    <title>VetAdmin</title>
</head>
<body>
    <header>
        <nav>
            <div>
                <button><a class="button" href='/home'>VetAdmin</a></button>
            </div>
            <section>
                <button><a class="button" href="/vets">Vets</a></button>
                <button><a class="button" href="/animals">Animals</a></button>
                <button><a class="button" href="/owners">Owners</a></button>
            </section>
        </nav>
    </header>
    <section>
    {% block content %}
        
    {% endblock content %}
    </section>
</body>
</html>